<header>
  <div *ngIf="showHeader" class="headline fade-in">
    <div class="container">
      <div class="headbox">
        <h2>Hi, <br>
          I'm <span class="primary">Adderlyn</span> Windsor <br>
          <div class="content">
            <div *ngIf="showHeadline" class="typed-out">{{headlines[currentLine]}}</div>
          </div>
        </h2>
        <button onclick="window.location.href='#contact'">Contact me</button>
      </div>
      <img class="profile-pic" src="../assets/img/Screenshot 2022-05-04 at 22.11.18.png" alt="">
    </div>
  </div>
  <a href="#skillz" class="center"><img class="arrow-down" src="../../assets/downloads/arrow-down.png"></a>

</header>
