<header>
  <nav class="navbar"> 
    <div>
      <img src="../assets/img/LogoMakr-white.png" alt="Logo">
    </div>
    <div>
      <a href="#">Home</a>
      <a href="#">About</a>
      <a href="#">Portfolio</a>
    </div>
  </nav>

  <div class="headline">
    <div>
      <h2>Hi, <br>
        I'm <span class="primary">Adderlyn</span> Windsor <br>
        Front End develop<span class="secondary">e</span>r
        </h2>
        <button>Contact me</button>
    </div>
    <img src="../assets/img/Screenshot 2022-05-04 at 22.11.18.png" alt="">
  </div>


</header>