<header>
  <nav class="navbar">
    <div>
      <img *ngIf="!darkMode" src="../assets/img/LogoMakr-black.png" alt="Logo">
      <img *ngIf="darkMode" src="../assets/img/LogoMakr-white.png" alt="Logo">
    </div>
    <div>
      <a routerLink="/">Home</a>
      <a href="#">About</a>
      <a href="#">Portfolio</a>
    </div>
  </nav>

  <div class="headline">
    <div class="container">
      <div>
        <h2>Hi, <br>
          I'm <span class="primary">Adderlyn</span> Windsor <br>
          <div class="content">
            <div *ngIf="showHeadline" class="typed-out">{{headlines[currentLine]}}</div>
          </div>
        </h2>
        <button>Contact me</button>
      </div>
      <img class="profile-pic" src="../assets/img/Screenshot 2022-05-04 at 22.11.18.png" alt="">
    </div>
  </div>
  <a routerLink="/skillz" class="center"><img class="arrow-down" src="../../assets/downloads/arrow-down.png" alt=""></a>


</header>
