header {
  height: 90vh;
  width: 100vw;
  background-color: black;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  padding: 100px 15%;
  display: relative;
  .headline {
    color: white;
    font-size: 2.4rem;
    display: flex;
    flex-direction: column;

    h2 {
      border-left: 3px solid var(--primary);
      padding-left: 20px;
    }

    img {
      height: 300px;
      border-radius: 50%;
    }
  }
}
.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  animation: fadeInAnimation 4s ease-in-out;
}
.content {
  display: inline-block;
}
.typed-out {
  overflow: hidden;
  border-right: 0.1em solid var(--primary);
  white-space: nowrap;
  animation: typing 1s steps(20, end) forwards, blink 0.8s infinite;
  font-size: 50px;
  width: 0;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes typing-back {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}
@keyframes blink {
  from {
    border-color: transparent;
  }
  to {
    border-color: var(--primary);
  }
}

@media only screen and (max-width: 1500px) {
  header {
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media (min-width: 768px) and (max-width: 1100px) {
  header {
    padding-left: 5%;
    padding-right: 5%;

    .headline {
      margin-bottom: 150px;
    }

    .container {
      flex-direction: column-reverse;
      align-items: center;

      .headbox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        button {
          margin-top: 5rem;
        }
      }
      img {
        margin-bottom: 1rem;
        height: 200px;
        width: 200px;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1100px) and (orientation: landscape) {
  .arrow-down {
    display: none;
  }
}

@media (min-width: 360px) and (max-width: 767px) {
  .container {
    flex-direction: column-reverse;
    align-items: center;

    img {
      height: 200px !important;
      width: 200px;
    }

    h2 {
      font-size: 40px;
    }

    .typed-out {
      font-size: 25px;
    }
  }

  .headbox {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .headline {
    margin-bottom: 100px !important;
  }

  .arrow-down {
    display: none;
  }
}

/************************/
.center {
  position: absolute;
  bottom: 5%;
  left: 50%;
  right: 45%;
}
.arrow-down {
  transform: translate(-50%, -50%);

  p {
    margin: 0 0 20px;
  }
}

/* Arrow & Hover Animation */
#more-arrows {
  width: 75px;
  height: 65px;

  &:hover {
    polygon {
      fill: #fff;
      transition: all 0.2s ease-out;

      &.arrow-bottom {
        transform: translateY(-18px);
      }

      &.arrow-top {
        transform: translateY(18px);
      }
    }
  }
}

polygon {
  fill: #fff;
  transition: all 0.2s ease-out;

  &.arrow-middle {
    opacity: 0.75;
  }

  &.arrow-top {
    opacity: 0.5;
  }
}
