header {
  background-color: black;
  height: 100vh;
  padding-left: 15%;
  padding-right: 15%;

  nav {
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      margin-left: -5px;
      height: 54px;
      cursor: pointer;
    }
    a {
      color: white;
      text-decoration: none;
      margin-left: 50px;
      font-size: 20px;
      transition: all 255ms;

      &:hover {
        color: var(--primary);
        transition: all 255ms;
      }
    }
  }

  .headline {
    margin-top: 100px;
    margin-bottom: 100px;
    color: white;
    font-size: 36px;
    display: flex;
    flex-direction: column;

    h2 {
      border-left: 3px solid var(--primary);
      padding-left: 20px;
    }

    img {
      height: 300px;
      border-radius: 50%;
    }
  }
}
.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.content {
  display: inline-block;
}
.typed-out {
  overflow: hidden;
  border-right: 0.1em solid var(--primary);
  white-space: nowrap;
  animation: typing 1s steps(20, end) forwards, blink 0.8s infinite;
  font-size: 2.5rem;
  width: 0;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes typing-back {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}
@keyframes blink {
  from {
    border-color: transparent;
  }
  to {
    border-color: var(--primary);
  }
}

.center {
  display: flex;
  justify-content: center;
}
.arrow-down {
  height: 50px;
  margin-top: 50px;
}
