.container {
  height: 10vh;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--grey);
    padding-left: 10px;

    &:hover {
      color: var(--primary);
    }
  }

  div {
    img {
      height: 60px;
    }
  }
}

@media (min-width: 768px) and (max-width: 1100px) {
  .container {
    div {
      padding: unset;
    }
  }
}

@media (min-width: 360px) and (max-width: 767px) {
}
