.container {
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  ul {
    list-style: none;
    display: flex;

    li {
      padding-left: 10px;

      a {
        font-size: 1.2rem;
        text-decoration: none;
        color: var(--grey);
      }
    }
  }

  img {
    height: 60px;
    padding-right: 60px;
  }
}
