.container {
  background-color: var(--grey);
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h2 {
    border-bottom: 3px solid var(--primary);
    color: white;
    width: fit-content;
    padding-bottom: 20px;
    font-size: 2.4rem;
    transition: all 255ms;

    &:hover {
      transition: all 255ms;
    }
  }
}

.content {
  padding-top: 3rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 900px;
  animation: fadeInAnimation 2s ease-out;

  .skill-card {
    background-color: white;
    border-radius: 10px;
    margin: 20px;
    width: 200px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .border {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 3rem;
      width: 3rem;
      position: absolute;
      top: -20px;
      background-color: white;
      border-radius: 50%;
      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    }
    img {
      height: 25px;
    }
  }
}
