<div class="container" id="skillz">
  <h2 class="" data-aos="fade-down">MY Skills</h2>
  <div class="content">
    <div class="skill-card" data-aos="fade-right" data-aos-duration="700" data-aos-easing="ease-in-sine">
      <h3>Java Script</h3>
      <div class="border">
        <img src="../../assets/icons/java script.png" alt="">
      </div>

    </div>
    <div class="skill-card" data-aos="fade-in" data-aos-duration="500" data-aos-easing="ease-in-sine">
      <h3>Angular</h3>
      <div class="border">
        <img src="../../assets/icons/angular-icon.ico">
      </div>
    </div>
    <div class=" skill-card" data-aos="fade-left" data-aos-duration="500" data-aos-easing="ease-in">
      <h3>HTML / CSS</h3>
      <div class="border">
        <img src="../../assets/icons/Group 205.png">
      </div>
    </div>
    <div class="skill-card" data-aos="fade-right" data-aos-duration="500" data-aos-easing="ease-in">
      <h3>SCRUM</h3>
      <div class="border">
        <img src="../../assets/icons/Group 226.png">
      </div>
    </div>
    <div class="skill-card" data-aos="fade-in" data-aos-duration="500" data-aos-easing="ease-in">
      <h3>Git</h3>
      <div class="border">
        <img src="../../assets/icons/Git-Icon-1788C 2.png">
      </div>
    </div>
    <div class="skill-card" data-aos="fade-left" data-aos-duration="500" data-aos-easing="ease-in">
      <h3>Design Thinking</h3>
      <div class="border">
        <img src="../../assets/icons/Group 20.png">
      </div>
    </div>
    <div class="skill-card" data-aos="fade-right" data-aos-duration="500" data-aos-easing="ease-in">
      <h3>Rest API</h3>
      <div class="border">
        <img src="../../assets/icons/icons8-rest-api-80 2.png">
      </div>
    </div>
    <div class="skill-card" data-aos="fade-in" data-aos-duration="500" data-aos-easing="ease-in">
      <h3>Test automation</h3>
      <div class="border">
        <img src="../../assets/icons/icons8-test-lab-96 2.png">
      </div>
    </div>
    <div class="skill-card" data-aos="fade-left" data-aos-duration="500" data-aos-easing="ease-in">
      <h3>Databases</h3>
      <div class="border">
        <img src="../../assets/icons/icons8-database-52 2.png">
      </div>
    </div>
  </div>

</div>
