.container {
  min-height: 100vh;
  padding: 100px 15%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
  }

  h2 {
    color: white;
    font-size: 2.4rem;
  }

  .active {
    background-color: var(--primary);
  }

  button {
    border: 2px solid var(--primary);
    color: white;
    width: 150px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 30px;
    transition: all 255ms;

    &:hover {
      background-color: var(--primary);
      transition: all 255ms;
    }
  }

  .my-work {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
  }
  .project {
    margin: 50px;
    width: 450px;
    height: 400px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 1px 1px 10px white;

    img {
      height: inherit;
      width: 100%;
      object-position: center;
      object-fit: cover;
    }
  }
}

@media only screen and (min-width: 1500px) {
  .container {
    padding: 100px 10% !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1080px) {
  .container {
    padding: 100px 5%;
  }

  button {
    font-size: 16px;
    width: 120px !important;
  }
  .project {
    max-width: 320px !important;
    max-height: 300px !important;
    margin: 20px !important;
  }
}
