<div class="container" id="work">
  <h2 data-aos="fade-down" data-aos-duration="1000">MY Work</h2>
  <div class="content" data-aos="fade-down" data-aos-duration="1000">
    <div data-aos="fade-left" data-aos-anchor="#example-anchor" data-aos-offset="500" data-aos-duration="500">>
      <button class="active">All</button>
      <button class="">HTML/CSS</button>
      <button class="">Angular</button>
      <button class="">JavaScript</button>
    </div>

    <div class="my-work">
      <div class="project" data-aos="zoom-in" data-aos-duration="1000">
        <img src="../../assets/img/project1.png">
      </div>
      <div class="project" data-aos="zoom-in" data-aos-duration="1000">
        <img src="../../assets/img/project2.png">
      </div>
      <div class="project" data-aos="zoom-in" data-aos-duration="1000">
        <img src="../../assets/img/project3.png">
      </div>
      <div class="project" data-aos="zoom-in" data-aos-duration="1000">
        <img src="../../assets/img/project1.png">
      </div>
      <div class="project" data-aos="zoom-in" data-aos-duration="1000">
        <img src="../../assets/img/project2.png">
      </div>
      <div class="project" data-aos="zoom-in" data-aos-duration="1000">
        <img src="../../assets/img/project2.png">
      </div>
      <div class="project" data-aos="zoom-in" data-aos-duration="1000">
        <img src="../../assets/img/project1.png">
      </div>
      <div class="project" data-aos="zoom-in" data-aos-duration="1000">
        <img src="../../assets/img/project3.png">
      </div>
    </div>

  </div>
</div>
