<div class="container" id="work">
  <h2 data-aos="fade-down" data-aos-duration="1000">MY Work</h2>
  <div class="content" data-aos="fade-down" data-aos-duration="1000">
    <div class="button-opt" data-aos="fade-in" data-aos-duration="500">
      <button class="active">All</button>
      <button class="">HTML/CSS</button>
      <button class="">Angular</button>
      <button class="">JavaScript</button>
    </div>

    <div class="my-work">
      <div class="project" data-aos="zoom-in" data-aos-duration="1000">
        <img src="../../assets/img/portfo.png">
        <div class="overlay">
          <h3>Portfolio</h3>
          <p>Angular Based Website</p>
          <a href="http://www.adderlynwindsor.com" target="_blank">Try out</a>
        </div>
      </div>
      <div class="project" data-aos="zoom-in" data-aos-duration="1000">
        <img src="../../assets/img/project2.png">
        <div class="overlay">
          <h3>Portfolio</h3>
          <p>Angular Based Website</p>
          <a href="#" target="_blank">Try out</a>
        </div>
      </div>
      <div class="project" data-aos="zoom-in" data-aos-duration="1000">
        <img src="../../assets/img/project3.png">
        <div class="overlay">
          <h3>Portfolio</h3>
          <p>Angular Based Website</p>
          <a href="#" target="_blank">Try out</a>
        </div>
      </div>
      <div class="project" data-aos="zoom-in" data-aos-duration="1000">
        <img src="../../assets/img/project1.png">
        <div class="overlay">
          <h3>Portfolio</h3>
          <p>Angular Based Website</p>
          <a href="#" target="_blank">Try out</a>
        </div>
      </div>
      <div class="project" data-aos="zoom-in" data-aos-duration="1000">
        <img src="../../assets/img/project2.png">
        <div class="overlay">
          <h3>Portfolio</h3>
          <p>Angular Based Website</p>
          <a href="#" target="_blank">Try out</a>
        </div>
      </div>
      <div class="project" data-aos="zoom-in" data-aos-duration="1000">
        <img src="../../assets/img/project2.png">
        <div class="overlay">
          <h3>Portfolio</h3>
          <p>Angular Based Website</p>
          <a href="#" target="_blank">Try out</a>
        </div>
      </div>
      <div class="project" data-aos="zoom-in" data-aos-duration="1000">
        <img src="../../assets/img/project1.png">
        <div class="overlay">
          <h3>Portfolio</h3>
          <p>Angular Based Website</p>
          <a href="#" target="_blank">Try out</a>
        </div>
      </div>
      <div class="project" data-aos="zoom-in" data-aos-duration="1000">
        <img src="../../assets/img/project3.png">
        <div class="overlay">
          <h3>Portfolio</h3>
          <p>Angular Based Website</p>
          <a href="#" target="_blank">Try out</a>
        </div>
      </div>
    </div>

  </div>
</div>
