@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  margin: unset;
  box-sizing: border-box;
  font-family: "Anonymous Pro", monospace;
  scroll-behavior: smooth;
}

:root {
  --primary: #fa2759;
  --secondary: #2dfcd8;
  --grey: #131111;
}

.primary {
  color: var(--primary);
}

.secondary {
  color: var(--secondary);
}

button {
  cursor: pointer;
  font-size: 18px;
  color: var(--secondary);
  border: 3px solid var(--secondary);
  background-color: black;
  height: 55px;
  width: 260px;
  margin-top: 50px;
  transition: all 255ms;
  border-radius: 2px;

  &:hover {
    background-color: var(--secondary);
    color: white;
    transition: all 255ms;
  }
}

.inactive {
  display: none;
}
.active-animation {
  animation: fadeInLeft 1s ease-in-out;
}

.fade-in {
  animation: fadeIn 2s ease-in-out;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
