@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  margin: unset;
  box-sizing: border-box;
  font-family: 'Anonymous Pro', monospace ;
}

:root {
  --primary: #fa2759;
  --secondary: #2dfcd8;
  --grey: #1a1a1a;
}

.primary {
  color: var(--primary);
}

.secondary {
  color: var(--secondary);
}
